{% load i18n %}

<a class="{% if family.is_large %}large-family-link{% endif %}" href="{% url 'family_page' family.id %}">
<div class="card familyCard p-1">

    {% if family.representative_picture %}
        <img class="card-img-top h-100" src="{{ family.representative_picture_thumbnail.url }}"
             alt="Species representative picture"/>
    {% endif %}

    <div class="card-body p-1">
        <h6 class="card-title m-0">
            <a class="card-link {% if family.is_large %}large-family-link{% endif %}" href="{% url 'family_page' family.id %}">{{ family.name }}</a> ({{ family.species_counter }})
        </h6>

        <p class="m-0" style="line-height: 1.2" >
        {% if family.vernacular_name_nl %}
            <small class="card-text text-muted">{{ family.vernacular_name_nl }} (NL)</small><br/>
        {% endif %}

        {% if family.vernacular_name_en %}
            <small class="card-text text-muted">{{ family.vernacular_name_en }} (EN)</small><br/>
        {%  endif %}

        {# FR/DE Vernacular names deliberately not shown for the moment #}
        </p>
    </div>
</div>
</a>
