{% load i18n %}
<div class="card familyCard p-1">
    <a class="d-none" href="{% url 'family_page' family.id %}">link</a>
    {% if family.representative_picture %}
        <img class="card-img-top" src="{{ family.representative_picture_thumbnail.url }}"
             alt="Species representative picture"/>
    {% endif %}

    <div class="card-body p-1">
        <h6 class="card-title m-1">
            <a class="card-link" href="{% url 'family_page' family.id %}">{{ family.name }}</a>
        </h6>

        <p class="m-0">
        {% if family.vernacular_name_nl %}
            <small class="card-text">• {{ family.vernacular_name_nl }} (NL)</small><br/>
        {% endif %}

        {% if family.vernacular_name_en %}
            <small class="card-text">• {{ family.vernacular_name_en }} (EN)</small><br/>
        {%  endif %}

        {# FR/DE Vernacular names deliberately not shown for the moment #}
        </p>

        <p class="m-0">
            <small class="card-text mb-2 text-muted">{{ family.species_count }} {% trans "species" %}.</small>
        </p>
    </div>
</div>

