{% load i18n %}

<div id="footer-main" class="row text-white bg-primary py-2">
    <div class="col">COL1</div>
    <div class="col">COL2</div>
    <div class="col">COL3</div>
    <div class="col">
        <h4>{% trans "Statistics" %}</h4>
        <hr/>
        <ul class="list-unstyled small">
            <li>
                {% include "lepidoptera/_footer_stat_entry.html" with counter=family_counter label="Families" page_name="all_families_page" %}
            </li>

            <li>
                {% include "lepidoptera/_footer_stat_entry.html" with counter=subfamily_counter label="Subfamilies" page_name="all_subfamilies_page" %}
            </li>

            <li>
                {% include "lepidoptera/_footer_stat_entry.html" with counter=tribus_counter label="Tribus" page_name="all_tribus_page" %}
            </li>

            <li>
                {% include "lepidoptera/_footer_stat_entry.html" with counter=valid_genus_counter label="Accepted_genera" page_name="all_accepted_genera_page" %},
                {% include "lepidoptera/_footer_stat_entry.html" with counter=genus_synonym_counter  label="synonyms" page_name="all_genera_synonyms_page" %}
            </li>

            <li>
                {% include "lepidoptera/_footer_stat_entry.html" with counter=subgenus_counter label="Subgenera" page_name="all_subgenera_page" %}
            </li>

            <li>
                {% include "lepidoptera/_footer_stat_entry.html" with counter=valid_species_counter label="Accepted species" page_name="all_accepted_species_page" %}
                {% include "lepidoptera/_footer_stat_entry.html" with counter=species_synonym_counter label="synonyms" page_name="all_species_synonyms_page" %}
            </li>

            <li>
                {% include "lepidoptera/_footer_stat_entry.html" with counter=hostplant_species_counter label="Host plant species" page_name="all_hostplant_species_page" %}
            </li>

            <li>
                {% include "lepidoptera/_footer_stat_entry.html" with counter=hostplant_genus_counter label="Host plant genera" page_name="all_hostplant_genera_page" %}
            </li>

            <li>
                {% include "lepidoptera/_footer_stat_entry.html" with counter=hostplant_family_counter label="Host plant families" page_name="all_hostplant_families_page" %}
            </li>

            <li>
                {% include "lepidoptera/_footer_stat_entry.html" with counter=substrate_counter label="Substrates" page_name="all_substrates_page" %}
            </li>
            <li>
                {% include "lepidoptera/_footer_stat_entry.html" with counter=publications_counter label="Publications" %} in
                {% include "lepidoptera/_footer_stat_entry.html" with counter=journals_counter label="Journals" %}
            </li>
            <li>
                {% include "lepidoptera/_footer_stat_entry.html" with counter=species_pictures_counter label="Species pictures" %}
            </li>
        </ul>
    </div>
</div>
<div id="footer-copyright" class="row">
    <div class="col text-center text-white py-2">
        <span class="small align-middle">
            © 2018 <a href="http://www.phegea.org/">Flemish Entomological Society</a>, developed by the <a href="http://www.biodiversity.be">Belgian Biodiversity Platform.</a>
        </span>
    </div>
</div>