{% load i18n %}

{# We also depend on _language_selector.js (loaded after jQuery) #}

<form id="lang-form" class="form-inline" action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}"/>
    <select class="form-control form-control-sm mr-sm-2" name="language" id="lang">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_language_info_list for settings.LANGUAGES_AVAILABLE_IN_SELECTOR as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }}
            </option>
        {% endfor %}
    </select>
</form>