{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% if not settings.SHOW_TEST_VERSION_WARNING and not settings.DEBUG %}
        {% include 'lepidoptera/_google_analytics.html' %}
    {% endif %}

    {% include 'lepidoptera/_favicon.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'lepidoptera/bootstrap-custom/scss/custom.css' %}"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static 'lepidoptera/lepidoptera.css' %}"/>
    <link rel="stylesheet" href="{% static 'lepidoptera/typeaheadjs.css' %}"/>
    <link rel="stylesheet" href="{% static 'lepidoptera/ekko-lightbox.css' %}"/>

    <title>
        {% block title %}{% endblock %} - {{ settings.WEBSITE_NAME }}
    </title>

    <meta name="description" content="{% block meta_description %}
        This catalogue provides information on the systematics and the distribution per province for all Lepidoptera (butterflies and moths) of Belgium.
        Pictures and information on host plants and fly periods is also available.
        {% endblock %}">

    {% block extra-head %}{% endblock %}
</head>

<body>

<div id="loadingLargeFamilyModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Please wait...</h5>
            </div>
            <div class="modal-body">
                <p><span class="oi oi-clock"></span> Loading a large family, this may take some time...</p>
            </div>
        </div>
    </div>
</div>

{% if settings.SHOW_TEST_VERSION_WARNING %}
    {% include 'lepidoptera/_test_version_warning.html' %}
{% endif %}

{% include 'lepidoptera/_navbar.html' %}

<div class="container">
    {% block content %}{% endblock %}
</div>

<div class="container-fluid bg-primary">
    {% include "lepidoptera/_footer.html" %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="{% static 'lepidoptera/bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.bundle.min.js"></script>
<script src="{% static 'lepidoptera/_language_selector.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/floatthead/2.1.1/jquery.floatThead.min.js"></script>
<script src="{% static 'lepidoptera/ekko-lightbox.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue{% if not settings.DEBUG %}.min{% endif %}.js"></script>
<script src="https://unpkg.com/v-tooltip"></script>
<script>
    var showLargeFamilyModal = function() {
        $('#loadingLargeFamilyModal').modal();
    };

    $(function () {
        var compare_suggestion = function (a, b) {
            if (a.value < b.value)
                return -1;
            if (a.value > b.value)
                return 1;
            return 0;
        };

        var multiSource = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '{% url 'search_autocomplete' query_string='QUERY' %}',
                wildcard: 'QUERY',
                transform: function (response) {
                    // We have to sort here since the 'sorter' option of Bloodhound doesn't work for remote
                    return response.sort(compare_suggestion);
                }
            }
        });

        // Initialize (table) sticky headers
        $('.sticky-header').floatThead({zIndex: 5000, position: 'absolute'});

        $('.multi-search').typeahead({highlight: true}, {
            name: 'multi-search',
            source: multiSource,
            limit: 10,
            templates: {
                suggestion: function (data) {
                    return '<p>' + data.value + ' - ' + '<small class="text-muted">' + data.suggest_type + '</small></p>';
                },
            }
        }).bind('typeahead:select', function (ev, suggestion) {
            if (suggestion.additional_data.large) {
                showLargeFamilyModal();
            }
            window.location.replace(suggestion.url);
        });

        $("a.large-family-link").click(function () {
            showLargeFamilyModal();
            return true;
        });
    });
</script>
{% block bottom-of-body %}{% endblock %}
</body>
</html>