{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{%  static 'lepidoptera/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'lepidoptera/lepidoptera.css' %}" />
    <link rel="stylesheet" href="{% static 'lepidoptera/typeaheadjs.css' %}" />
    <link rel="stylesheet" href="{% static 'lepidoptera/ekko-lightbox.css' %}" />

    <title>{% block title %}{{ settings.WEBSITE_NAME }}{% endblock %}</title>

    {% block extra-head %}{% endblock %}
</head>
<body>
<nav id="main-navigation" class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'home' %}"><span class="oi oi-cloudy"></span> {{ settings.WEBSITE_NAME }}</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">{% trans "Home" %}</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">{% trans "About" %}</a></li>
        </ul>

        {% include 'lepidoptera/_language_selector.html' %}

        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}"><span class="oi oi-lock-locked" title="admin interface"></span></a></li>
        </ul>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>

<div class="container-fluid">
    {% include "lepidoptera/_footer.html" %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="{% static 'lepidoptera/bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.bundle.min.js"></script>
<script src="{% static 'lepidoptera/_language_selector.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/floatthead/2.1.1/jquery.floatThead.min.js"></script>
<script src="{% static 'lepidoptera/ekko-lightbox.min.js' %}"></script>

<script>
    $(function () {
        // Initialize (table) sticky headers
        $('.sticky-header').floatThead({zIndex: 5000, position: 'absolute'});
    });

    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>

{% block bottom-of-body %}{% endblock %}
</body>
</html>