{% extends "lepidoptera/base.html" %}

{% block content %}
    <h2>Browse data</h2>

    <script type="text/x-template" id="content-entry-specieslist-template">
        <ul>
            <li v-for="entry in jsonData.entries">
                <a :href="entry.link">
                    <span v-html="entry.name"></span>
                </a>

                <span v-if="entry.additionalData.hasPic" class="oi oi-camera-slr"></span>
                <span v-if="entry.additionalData.synonym" class="badge badge-secondary">Synonym</span>
            </li>
        </ul>
    </script>

    <script type="text/x-template" id="content-entry-simplelist-template">
        <ul>
            <li v-for="entry in jsonData.entries"><a :href="entry.link"><span v-html="entry.name"></span></a>
            </li>
        </ul>
    </script>

    <script type="text/x-template" id="tab-selector-template">
        <div class="list-group">
            <a v-for="entry in entries" :href="entry.target" class="list-group-item list-group-item-action"
               :class="{ active: entry.target === selected }"
               v-on:click="$emit('clicked-entry', entry.target)">

                [[ entry.label ]]
            </a>
        </div>
    </script>

    <script type="text/x-template" id="content-entry-template">
        <div class="tab-pane" :id="htmlId" role="tabpanel">
            <span v-if="currentlyLoading">Loading...</span>

            <div v-else>
                {# FIXME: transition doesn't work anymore? #}
                <transition name="fade">
                    <div>
                        <h2>[[ fromServer.resultsTitle ]]</h2>
                        <component :is="componentName" :json-data="fromServer"></component>
                    </div>
                </transition>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="results-zone-template">
        <div class="tab-content" id="nav-tabContent">
            <content-entry v-for="entry in entries" :key="entry.target" :html-id="entry.target"
                           :active="entry.target === selected"
                           :class="{ active: entry.target === selected }"
                           :service-url="entry.url"
                           :component-name="entry.component">
            </content-entry>
        </div>
    </script>

    <div id="browse-module" class="row">
        <div class="col-4">
            <tab-selector :entries="menuEntries" :selected="selectedEntryTarget"
                          v-on:clicked-entry="selectedEntry"></tab-selector>
        </div>
        <div class="col-8">
            <results-zone :entries="menuEntries" :selected="selectedEntryTarget"></results-zone>
        </div>
    </div>
{% endblock content %}

{% block bottom-of-body %}
    <script type="text/javascript">
        $(function () {
            var browseConf = {
                lepidopteraFamiliesUrl: "{% url 'browse_lepidoptera_families_json' %}",
                lepidopteraSubfamiliesUrl: "{% url 'browse_lepidoptera_subfamilies_json' %}",
                lepidopteraTribusUrl: "{% url 'browse_lepidoptera_tribus_json' %}",
                lepidopteraGeneraUrl: "{% url 'browse_lepidoptera_genera_json' %}",
                lepidopteraSubgeneraUrl: "{% url 'browse_lepidoptera_subgenera_json' %}",
                lepidopteraSpeciesUrl: "{% url 'browse_lepidoptera_species_json' %}",

                hostPlantsFamiliesUrl: "{% url 'browse_hostplants_families_json' %}",
                hostPlantsGeneraUrl: "{% url 'browse_hostplants_genera_json' %}",
                hostPlantSpeciesUrl: "{% url 'browse_hostplants_species_json' %}",

                substratesUrl: "{% url 'browse_substrates_json' %}",
                vernacularNamesUrl: "{% url 'browse_vernacularnames_json' %}"
            };

            Vue.component('content-entry-specieslist', {
                delimiters: ['[[', ']]'],
                template: '#content-entry-specieslist-template',
                props: {
                    jsonData: Object
                }
            });

            Vue.component('content-entry-simplelist', {
                delimiters: ['[[', ']]'],
                template: '#content-entry-simplelist-template',
                props: {
                    jsonData: Object
                }
            });

            Vue.component('content-entry', {
                delimiters: ['[[', ']]'],
                template: '#content-entry-template',
                props: {
                    htmlId: String,
                    active: Boolean,
                    serviceUrl: String,
                    componentName: String
                },
                data: function () {
                    return {
                        fromServer: {},
                        alreadyLoaded: false,
                        currentlyLoading: false
                    }
                },
                watch: {
                    active: {
                        immediate: true,
                        handler(newVal, oldVal) {
                            if (newVal === true && !this.alreadyLoaded) {
                                var that = this;
                                that.currentlyLoading = true;
                                $.getJSON(this.serviceUrl, {})
                                    .done(function (json) {
                                        that.fromServer = json;
                                        that.alreadyLoaded = true;
                                    })
                                    .fail(function (jqxhr, textStatus, error) {
                                        alert("error");
                                    })
                                    .always(function () {
                                        that.currentlyLoading = false
                                    })
                            }
                        }
                    }
                }
            });

            Vue.component('tab-selector', {
                delimiters: ['[[', ']]'],
                template: '#tab-selector-template',
                props: {
                    entries: Array,
                    selected: String
                },

            });

            Vue.component('results-zone', {
                delimiters: ['[[', ']]'],
                template: '#results-zone-template',
                props: {
                    entries: Array,
                    selected: String
                },
            });

            var vm = new Vue({
                delimiters: ['[[', ']]'],
                el: '#browse-module',
                data: function () {
                    return {
                        menuEntries: [
                            {
                                label: 'Families (lepidoptera)',
                                target: '#list-families',
                                url: browseConf.lepidopteraFamiliesUrl,
                                component: 'content-entry-simplelist'
                            },
                            {
                                label: 'Subfamilies (lepidoptera)',
                                target: '#list-subfamilies',
                                url: browseConf.lepidopteraSubfamiliesUrl,
                                component: 'content-entry-simplelist'
                            },
                            {
                                label: 'Tribus (lepidoptera)',
                                target: '#list-tribus',
                                url: browseConf.lepidopteraTribusUrl,
                                component: 'content-entry-simplelist'
                            },
                            {
                                label: 'Genera (lepidoptera)',
                                target: '#list-genera',
                                url: browseConf.lepidopteraGeneraUrl,
                                component: 'content-entry-simplelist'
                            },
                            {
                                label: 'Subgenera (lepidoptera)',
                                target: '#list-subgenera',
                                url: browseConf.lepidopteraSubgeneraUrl,
                                component: 'content-entry-simplelist'
                            },
                            {
                                label: 'Species (lepidoptera)',
                                target: '#list-species',
                                url: browseConf.lepidopteraSpeciesUrl,
                                component: 'content-entry-specieslist'
                            },
                            {
                                label: 'Vernacular names',
                                target: '#list-vernacularnames',
                                url: browseConf.vernacularNamesUrl,
                                component: 'content-entry-simplelist'
                            },
                            {
                                label: 'Host plants families',
                                target: '#list-hostplants-families',
                                url: browseConf.hostPlantsFamiliesUrl,
                                component: 'content-entry-simplelist'
                            },
                            {
                                label: 'Host plants genera',
                                target: '#list-hostplants-genera',
                                url: browseConf.hostPlantsGeneraUrl,
                                component: 'content-entry-simplelist'
                            },
                            {
                                label: 'Host plant species',
                                target: '#list-hostplants-species',
                                url: browseConf.hostPlantSpeciesUrl,
                                component: 'content-entry-simplelist'
                            },
                            {label: 'Substrates', target: '#substrates', url: browseConf.substratesUrl},
                        ],
                        selectedEntryTarget: window.location.hash || '#list-families'
                    }
                },
                methods: {
                    selectedEntry: function (selectedTarget) {
                        if (selectedTarget != this.selectedEntryTarget) { // Ignore if we click on the entry already selected
                            this.selectedEntryTarget = selectedTarget;
                        }

                    }
                }
            });

        });
    </script>
{% endblock %}