{% extends "lepidoptera/base.html" %}

{% block content %}
    <h2>Browse data</h2>

    <script type="text/x-template" id="tab-selector-template">
        <div class="list-group">
            <a v-for="entry in entries" :href="entry.target" class="list-group-item list-group-item-action"
               :class="{ active: entry.target === selected }"
               v-on:click.prevent="$emit('clicked-entry', entry.target)">

               [[ entry.label ]]
            </a>
        </div>
    </script>

    <script type="text/x-template" id="content-entry-template">
        <div class="tab-pane fade show" :id="htmlId" role="tabpanel">[[ content ]]</div>
    </script>

    <script type="text/x-template" id="results-zone-template">
        <div class="tab-content" id="nav-tabContent">
            <content-entry v-for="entry in entries" :html-id="entry.target" :content="entry.target" :class="{ active: entry.target === selected }"></content-entry>
        </div>
    </script>

    <div id="browse-module" class="row">
        <div class="col-4"><tab-selector :entries="menuEntries" :selected="selectedEntryTarget" v-on:clicked-entry="selectedEntry"></tab-selector></div>
        <div class="col-8"><results-zone :entries="menuEntries" :selected="selectedEntryTarget"></results-zone></div>
    </div>
{% endblock content %}

{% block bottom-of-body %}
    <script type="text/javascript">
    $(function () {
        Vue.component('content-entry', {
            delimiters: ['[[', ']]'],
            template: '#content-entry-template',
            props: {
                htmlId: String,
                content: String,
                active: Boolean
            }
        });

        Vue.component('tab-selector', {
            delimiters: ['[[', ']]'],
            template: '#tab-selector-template',
            props: {
                entries: Array,
                selected: String
            },

        });

        Vue.component('results-zone', {
            delimiters: ['[[', ']]'],
            template: '#results-zone-template',
            props: {
                entries: Array,
                selected: String
            },
            watch: {
                selected: {
                    immediate: true,
                    handler (newVal, oldVal) { // selection changed
                        console.log('Selected changed: ', newVal, ' | was: ', oldVal)
                    }
                }
            }
        });

        var vm = new Vue({
            delimiters: ['[[', ']]'],
            el: '#browse-module',
            data: {
                menuEntries: [
                    {label: 'Taxonomy (lepidoptera)', target: '#list-taxonomy'},
                    {label: 'Vernacular names', target: '#list-vernacularnames'},
                    {label: 'Host plants', target: '#list-hostplants'},
                    {label: 'Substrates', target: '#substrates'},
                    {label: 'Publications', target: '#list-publications'},
                ],
                selectedEntryTarget: '#list-taxonomy'
            },
            methods: {
                selectedEntry: function(selectedTarget) {
                    if (selectedTarget != this.selectedEntryTarget) { // Ignore if we click on the entry already selected
                        this.selectedEntryTarget = selectedTarget;
                    }

                }
            }
        });

    });
    </script>
{% endblock %}