{% extends "lepidoptera/base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Gallery" %}</h1>

    <script type="text/x-template" id="filter-select-template">
        <div class="form-group row">
            <label :for="controlHtmlId" class="col-sm-2 col-form-label">[[ label ]]:</label>

            <div class="col-sm-10">
                <select :id="controlHtmlId" class="form-control form-control-sm" v-model="selectVal">
                    <option v-for="option in options" :value="option.value">[[ option.text ]]</option>
                </select>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="search-form-template">
        <div id="search-options">
            <h2>Filters</h2>

            <filter-select label="Specimen stage"
                           v-model="selectedFilters.specimenStage"
                           :options="stages">
            </filter-select>

            <filter-select label="Subject"
                           v-model="selectedFilters.imageSubject"
                           :options="subjects">
            </filter-select>

            <filter-select label="Photographer"
                           v-model="selectedFilters.photographer"
                           :options="photographers">
            </filter-select>
        </div>
    </script>

    <script type="text/x-template" id="picture-entry-template">
        <a :href="pictureData.fullSizeURL"
           :data-title="pictureData.HTMLSpeciesName"
           :data-footer="pictureData.HTMLMetadata"
           data-gallery="results-gallery"
           v-on:click.prevent="openLightbox">
            <img :src="pictureData.thumbnaillURL" class="img-fluid img-thumbnail">
        </a>
    </script>

    <div id="gallery-container" v-cloak>
        <search-form initial-selected-stage="*"
                     initial-selected-subject="*"
                     initial-selected-photographer="*"
                     :filter-choices="filterChoices">
        </search-form>

        <div id="results">
            <p>[[ count ]] pictures found.</p>
            <span v-for="picture in pictures" class="result">
                <picture-entry :picture-data="picture"></picture-entry>
            </span>

            <infinite-loading @infinite="infiniteHandler" ref="infiniteLoading">
                <span slot="no-more">
                    No more pictures :(
                </span>
            </infinite-loading>
        </div>
    </div>

{% endblock %}

{% block extra-head %}
    <style>[v-cloak] {
        display: none
    }</style>
{% endblock %}

{% block bottom-of-body %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-infinite-loading@2.3.1/dist/vue-infinite-loading.min.js"></script>

    <script>
        $(function () {
            var galleryConf = {
                picsJSONUrl: "{% url 'pictures_json' %}",
                picsPerPage: {{ settings.GALLERY_PAGE_SIZE }},
                filtersChoices: {{ filters_choices|safe }}
            };

            var slugify = function(text) {
                return text.toString().toLowerCase().trim()
                    .replace(/\s+/g, '-')           // Replace spaces with -
                    .replace(/&/g, '-and-')         // Replace & with 'and'
                    .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
                    .replace(/\-\-+/g, '-');        // Replace multiple - with single
            };

            Vue.component('picture-entry', {
                template: '#picture-entry-template',
                props: [
                    'pictureData'
                ],
                methods: {
                    openLightbox: function(event) {
                        $(event.target).parent().ekkoLightbox();
                    }
                }
            });

            Vue.component('filter-select', {
                delimiters: ['[[', ']]'],
                template: '#filter-select-template',
                props: [
                    'label',
                    'value',
                    'options'
                ],
                data: function () {
                    return {
                        selectVal: this.value,
                        controlHtmlId: slugify(this.label) + '-select'
                    }
                },
                watch: {
                    selectVal(val) {
                        this.$emit('input', val);
                    }
                }
            });

            Vue.component('search-form', {
                delimiters: ['[[', ']]'],
                template: '#search-form-template',
                props: [
                    'initialSelectedStage',
                    'initialSelectedSubject',
                    'initialSelectedPhotographer',
                    'filterChoices'
                ],

                watch: {
                    selectedFilters: {
                        handler: function () {
                            this.changeFilters()
                        },
                        deep: true,
                        immediate: true // Trigger a search after page load
                    }
                },

                data: function () {
                    // Prepare the (received via props) stage choices for the template, and add all/none options
                    var i;

                    var stagesForSelect = this.getInitialOptionsForSelect();
                    for (i = 0; i < this.filterChoices.specimenStages.length; i++) {
                        stagesForSelect.push({
                            'value': this.filterChoices.specimenStages[i][0],
                            'text': this.filterChoices.specimenStages[i][1]
                        });
                    }
                    var subjectsForSelect = this.getInitialOptionsForSelect();
                    for (i = 0; i < this.filterChoices.imageSubjects.length; i++) {
                        subjectsForSelect.push({
                            'value': this.filterChoices.imageSubjects[i][0],
                            'text': this.filterChoices.imageSubjects[i][1]
                        });
                    }

                    var photographersForSelect = this.getInitialOptionsForSelect();
                    for (i = 0; i < this.filterChoices.photographers.length; i++) {
                        photographersForSelect.push({
                            'value': this.filterChoices.photographers[i].id,
                            'text': this.filterChoices.photographers[i].name
                        })
                    }

                    return {
                        stages: stagesForSelect,
                        subjects: subjectsForSelect,
                        photographers: photographersForSelect,
                        selectedFilters: {
                            specimenStage: this.initialSelectedStage,
                            imageSubject: this.initialSelectedSubject,
                            photographer: this.initialSelectedPhotographer
                        },
                    }
                },

                methods: {
                    changeFilters: function () {
                        this.$parent.resetAndLoad(this.selectedFilters);
                    },

                    getInitialOptionsForSelect: function () {
                        var allNoneChoices = [
                            {'value': '', 'text': '--None--'},
                            {'value': '*', 'text': '--All--'}
                        ];
                        return allNoneChoices.slice();
                    }
                }
            });

            var vm = new Vue({
                delimiters: ['[[', ']]'],
                el: '#gallery-container',
                data: {
                    pictures: [],
                    count: 0,  // (Total) number of pictures matching the criteria
                    filters: {},
                    filterChoices: galleryConf.filtersChoices
                },
                methods: {
                    paramsForServer: function () {
                        var params = {
                            page: this.pictures.length / galleryConf.picsPerPage + 1,
                        }

                        return Object.assign(params, this.filters);
                    },

                    infiniteHandler: function ($state) {
                        var that = this;
                        $.getJSON(galleryConf.picsJSONUrl, this.paramsForServer())
                            .done(function (json) {
                                var results = json.results;
                                var hasMoreResults = json.hasMoreResults;
                                that.count = json.count;

                                that.pictures = that.pictures.concat(results);
                                $state.loaded();
                                if (!hasMoreResults) {
                                    $state.complete()
                                }
                            })
                            .fail(function (jqxhr, textStatus, error) {
                                alert("error");
                            })
                    },

                    resetAndLoad: function (filters) {
                        this.filters = filters;

                        this.pictures = [];
                        this.$nextTick(() => {
                            this.$refs.infiniteLoading.$emit('$InfiniteLoading:reset');
                    })
                    },
                }
            });

        });
    </script>
{% endblock %}