{% extends "lepidoptera/base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Gallery" %}</h1>

    <script type="text/x-template" id="search-form-template">
        <div id="search-options">
            <select v-model="selected_stage" @change="changeFilter()">
                <option v-for="stage in stages" v-bind:value="stage.value">[[ stage.text ]]</option>
            </select>
        </div>
    </script>

    <div id="gallery-container" v-cloak>
        <search-form></search-form>

        <div id="results">
            <span v-for="picture in pictures" class="result">
                <img :src="picture.thumbnaillUrl" class="img-fluid img-thumbnail">
            </span>

            <infinite-loading @infinite="infiniteHandler" ref="infiniteLoading">
                <span slot="no-more">
                    No more pictures :(
                </span>
            </infinite-loading>
        </div>
    </div>

{% endblock %}

{% block extra-head %}
    <style>[v-cloak] {
        display: none
    }</style>
{% endblock %}

{% block bottom-of-body %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-infinite-loading@2.3.1/dist/vue-infinite-loading.min.js"></script>

    <script>
        $(function () {
            var galleryConf = {
                picsJSONUrl: "{% url 'pictures_json' %}",
                picsPerPage: {{ settings.GALLERY_PAGE_SIZE }}
            };

            Vue.component('search-form', {
                delimiters: ['[[', ']]'],
                template: '#search-form-template',
                data: function() {
                    return {
                        stages: [
                            {'value': 'i', 'text': 'Imago'},
                            {'value': 'e', 'text': 'Egg'},
                            {'value': 'l', 'text': 'Larva'}
                        ],
                        selected_stage: '',
                    }
                },

                mounted: function () {
                    this.$nextTick(function () {
                        // After page load, launch a first search with selected filter
                        this.changeFilter()
                    })
                },

                methods: {
                    changeFilter: function() {
                        this.$parent.changeFilter(this.selected_stage);
                    },
                }
            })

            var vm = new Vue({
                delimiters: ['[[', ']]'],
                el: '#gallery-container',
                data: {
                    pictures: [],
                    filters_stage: ''
                },
                methods: {
                    infiniteHandler: function($state) {
                        var that = this;
                        $.getJSON(galleryConf.picsJSONUrl, {
                            page: this.pictures.length / galleryConf.picsPerPage + 1,
                            filters_stage: this.filters_stage
                        })
                            .done(function (json) {
                                var results = json.results;
                                var hasMoreResults = json.hasMoreResults;

                                that.pictures = that.pictures.concat(results);
                                $state.loaded();
                                if (!hasMoreResults) {
                                    $state.complete()
                                }
                            })
                            .fail(function (jqxhr, textStatus, error) {
                                alert("error");
                            })

                    },
                    changeFilter: function(stage) {
                        this.filters_stage = stage
                        this.pictures = [];
                        this.$nextTick(()=> {
                            this.$refs.infiniteLoading.$emit('$InfiniteLoading:reset');
                        });
                    },
                }
            });

        });
    </script>
{% endblock %}