{% extends "lepidoptera/base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Gallery" %}</h1>

    <script type="text/x-template" id="search-form-template">
        <div id="search-options">
            <h2>Filters</h2>

            <div class="form-group row">
                <label for="stage-select" class="col-sm-2 col-form-label">Specimen stage: </label>
                <div class="col-sm-10">
                    <select id="stage-select" class="form-control form-control-sm" v-model="selectedFilters.specimenStage">
                        <option v-for="stage in stages" :value="stage.value">[[ stage.text ]]</option>
                    </select>
                </div>

                <label for="subject-select" class="col-sm-2 col-form-label">Subject: </label>
                <div class="col-sm-10">
                    <select id="subject-select" class="form-control form-control-sm" v-model="selectedFilters.imageSubject">
                        <option v-for="subject in subjects" :value="subject.value">[[ subject.text ]]</option>
                    </select>
                </div>
            </div>
        </div>
    </script>

    <div id="gallery-container" v-cloak>
        <search-form initial-selected-stage="*"
                     initial-selected-subject="*"
                     :filter-choices="filterChoices">
        </search-form>

        <div id="results">
            <p>[[ count ]] pictures found.</p>
            <span v-for="picture in pictures" class="result">
                <a :href="picture.fullSizeURL"
                   data-toggle="lightbox"
                   data-gallery="results-gallery"
                   :data-title="picture.HTMLSpeciesName"
                   :data-footer="picture.HTMLMetadata">
                    <img :src="picture.thumbnaillURL" class="img-fluid img-thumbnail">
                </a>
            </span>

            <infinite-loading @infinite="infiniteHandler" ref="infiniteLoading">
                <span slot="no-more">
                    No more pictures :(
                </span>
            </infinite-loading>
        </div>
    </div>

{% endblock %}

{% block extra-head %}
    <style>[v-cloak] {
        display: none
    }</style>
{% endblock %}

{% block bottom-of-body %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-infinite-loading@2.3.1/dist/vue-infinite-loading.min.js"></script>

    <script>
        $(function () {
            var galleryConf = {
                picsJSONUrl: "{% url 'pictures_json' %}",
                picsPerPage: {{ settings.GALLERY_PAGE_SIZE }},
                filtersChoices: {{ filters_choices|safe }}
            };

            Vue.component('search-form', {
                delimiters: ['[[', ']]'],
                template: '#search-form-template',
                props: [
                    'initialSelectedStage',
                    'initialSelectedSubject',
                    'filterChoices'
                ],

                watch: {
                    selectedFilters: {
                        handler: function () {this.changeFilters()},
                        deep: true,
                        immediate: true // Trigger a search after page load
                    }
                },

                data: function() {
                    // Prepare the (received via props) stage choices for the template, and add all/none options
                    var i;
                    var allNoneChoices = [
                            {'value': '',  'text': '--None--'},
                            {'value': '*', 'text': '--All--'}
                    ];

                    var stagesForSelect = allNoneChoices.slice();
                    for (i = 0; i < this.filterChoices.specimenStages.length; i++) {
                        stagesForSelect.push({'value': this.filterChoices.specimenStages[i][0], 'text': this.filterChoices.specimenStages[i][1]});
                    }
                    var subjectsForSelect = allNoneChoices.slice();
                    for (i = 0; i < this.filterChoices.imageSubjects.length; i++) {
                        subjectsForSelect.push({'value': this.filterChoices.imageSubjects[i][0], 'text': this.filterChoices.imageSubjects[i][1]})
                    }
                    return {
                        stages: stagesForSelect,
                        subjects: subjectsForSelect,
                        selectedFilters: {
                            specimenStage: this.initialSelectedStage,
                            imageSubject: this.initialSelectedSubject
                        },
                    }
                },

                methods: {
                    changeFilters: function() {
                        this.$parent.resetAndLoad(this.selectedFilters);
                    },
                }
            });

            var vm = new Vue({
                delimiters: ['[[', ']]'],
                el: '#gallery-container',
                data: {
                    pictures: [],
                    count: 0,  // (Total) number of pictures matching the criteria
                    filters: {'specimenStage': '', 'imageSubject': ''},
                    filterChoices: galleryConf.filtersChoices
                },
                methods: {
                    paramsForServer: function() {
                        var params = {
                            page: this.pictures.length / galleryConf.picsPerPage + 1,
                        }

                        return Object.assign(params, this.filters);
                    },

                    infiniteHandler: function($state) {
                        var that = this;
                        $.getJSON(galleryConf.picsJSONUrl, this.paramsForServer())
                            .done(function (json) {
                                var results = json.results;
                                var hasMoreResults = json.hasMoreResults;
                                that.count = json.count;

                                that.pictures = that.pictures.concat(results);
                                $state.loaded();
                                if (!hasMoreResults) {
                                    $state.complete()
                                }
                            })
                            .fail(function (jqxhr, textStatus, error) {
                                alert("error");
                            })

                    },

                    resetAndLoad: function(filters) {
                        this.filters = filters;

                        this.pictures = [];
                        this.$nextTick(()=> {
                            this.$refs.infiniteLoading.$emit('$InfiniteLoading:reset');
                        })
                    },
                }
            });

        });
    </script>
{% endblock %}