{% extends "lepidoptera/base.html" %}

{% load page_fragments %}
{% load i18n %}

{% block content %}
    <div class="row mb-4">
        <div class="col">
            {% get_page_fragment 'welcome' %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3>{% trans "Overview of all families" %}</h3>
        </div>
    </div>

    {% for family in families %}
        {% if forloop.counter0|divisibleby:6 %}
            <div class="row no-gutters">
        {% endif %}

    <div class="col-sm-2">
        {% include 'lepidoptera/_family_card.html' %}
    </div>

    {% if forloop.counter|divisibleby:6 or forloop.last %}
        </div>
    {% endif %}

    {% endfor %}

{% endblock content %}

{% block bottom-of-body %}
    <script>
        $(function () {
            // Make Family cards clickable and having a hover effect.
            $('.familyCard').css('cursor', 'pointer');

            $(".familyCard").hover(function() {
                $(this).css("border-color", "#57a8e6");
            }, function() {
                $(this).css("border-color", "rgba(0, 0, 0, 0.125)");
            });

            $(".familyCard").click(function() {
                window.location = $(this).find("a").attr("href");
                return false;
            });
        });
    </script>
{% endblock %}