{% extends "lepidoptera/hostplant_substrate.html" %}
{% load i18n %}

{% block title %}{{ family }} - Host plants{% endblock %}

{% block h2_title %}
    {{ family.html_str }}
    {% include "lepidoptera/_entity_type_badge.html" with taxon_type_name="Host plant family" %}
{% endblock %}

{% block additional_details %}
    <h3>{% trans "Genera in this family" %}</h3>
    {% for genus in family.hostplantgenus_set.all %}
        <a href="{{ genus.get_absolute_url }}">{{ genus.html_str }}</a>
        {% include 'lepidoptera/_comma.html' %}
    {% empty %}
        Nothing found
    {% endfor %}
    </p>
{% endblock %}