{% extends "lepidoptera/hostplant_substrate.html" %}
{% load i18n %}

{% block title %}{{ subject }} - Host plants{% endblock %}

{% block meta_description %}Information about {{ subject }} (host plant species){% endblock %}

{% block h2_title %}
    {{ subject.html_str }}
    {% include "lepidoptera/_entity_type_badge.html" with taxon_type_name="Host plant species" %}
{% endblock %}

{% block additional_details %}

    <p>{% trans "From genus" %}: <a href="{{ subject.genus.get_absolute_url }}">{{ subject.genus }}</a></p>
    <div id="wikidata-info-container" class="row alert alert-info">
        <div class="col-sm-3">
            <carousel :per-page="1" :autoplay="true">
                <slide v-for="pictureUrl in pictureUrls">
                    <img :src="pictureUrl" class="img-fluid"/>
               </slide>
            </carousel>
        </div>
        <div class="col-sm-9">
            <p class="small"><span class="oi oi-warning"></span> Information in this section was automatically retrieved
                from Wikipedia/Wikidata and is not endorsed by the Flemish Entomological Society.</p><hr/>
            <p> [[ wikipediaAbstract ]] <a :href="wikipediaArticleUrl">Read more at Wikipedia</a></p>
            <p><b>Vernacular names</b>: [[ vernacularNamesAsStr ]]</p>
            <p><b>IUCN conservation status</b>: <img :src="conservationStatusImageUrls[0]" class="img-fluid"></p>
            <p>More details at:
                <a class="btn btn-primary btn-sm" :href="gbifUrl">GBIF</a></li>
                <a class="btn btn-primary btn-sm" :href="wikipediaArticleUrl">Wikipedia</a>
                <a class="btn btn-primary btn-sm" :href="inaturalistTaxonUrl">iNaturalist</a>
            </p>
        </div>
    </div>
{% endblock %}

{% block bottom-of-body %}
    {% get_current_language as LANGUAGE_CODE %}

    <script>
        $(function () {
            var vm = new Vue({
                delimiters: ['[[', ']]'],
                el: '#wikidata-info-container',
                components: {
  	                'carousel': VueCarousel.Carousel,
                    'slide': VueCarousel.Slide
                },
                data: {
                    'speciesName': '{{ subject }}',
                    'userLanguage': '{{ LANGUAGE_CODE }}',
                    'fullEntity': null,
                    'simplifiedEntity': null,
                    'pictureUrls': [],
                    'wikipediaAbstract': "",
                    'simplifiedConservationStatus': null,
                    'conservationStatusImageUrls': []
                },
                computed: {
                    inaturalistTaxonUrl: function () {
                        if (this.simplifiedEntity) {
                            return "https://www.inaturalist.org/taxa/" + this.simplifiedEntity.claims['P3151'][0];
                        }
                    },
                    wikipediaArticleUrl: function () {
                        return wdk.getSitelinkUrl({site: 'enwiki', title: this.speciesName});
                    },

                    gbifUrl: function () {
                        if (this.simplifiedEntity) {
                            return "https://www.gbif.org/species/" + this.simplifiedEntity.claims['P846'][0];
                        }
                    },

                    vernacularNamesAsStr: function () {
                        if (this.simplifiedEntity) {
                            var vm = this;
                            var defaultLang = ['en', 'fr', 'nl', 'de'];
                            var str = "";

                            $.each(defaultLang, function (i, langCode) {
                                $.each(vm.simplifiedEntity.aliases[langCode], function (j, entry) {
                                    str = str + (entry + ' (' + langCode + ') ');
                                });
                            });

                            return str;
                        }
                    }
                },
                methods: {
                    loadIucnStatus: function () {
                        var vm = this;

                        var wikidataId = this.simplifiedEntity.claims['P141'][0];

                        $.getJSON(wdk.getEntities(wikidataId, this.userLanguage)).done(function (jsonDetails) {
                            var entity = jsonDetails.entities[wikidataId];
                            vm.simplifiedConservationStatus = wdk.simplify.entity(entity);

                            console.log("entityCons", entity);
                            vm.pictureNameToUrl(wdk.simplify.propertyClaims(entity.claims.P18)[0], 'conservationStatusImageUrls');
                        });
                    },

                    loadWikipediaAbstract: function () {
                        var vm = this;

                        $.ajax({
                            url: "https://en.wikipedia.org/w/api.php?format=json&action=query&prop=extracts&exintro&explaintext&redirects=1",
                            jsonp: "callback",
                            dataType: "jsonp",
                            data: {
                                action: "query",
                                prop: "extracts",
                                redirects: 1,
                                titles: vm.speciesName
                            }
                        }).done(function (response) {
                            var instance = response.query.pages;
                            vm.wikipediaAbstract = instance[Object.keys(instance)[0]].extract;
                        });

                    },

                    pictureNameToUrl: function (pictureNames, dataName) {
                        var vm = this;

                        // pictureNames can be an Array or a single element
                        var elements = [].concat(pictureNames);

                        var mediaWikiApiUrl = "https://commons.wikimedia.org/w/api.php";

                        $.each(elements, function (i, pictureName) {
                            $.ajax({
                                url: mediaWikiApiUrl,
                                jsonp: "callback",
                                dataType: "jsonp",
                                data: {
                                    action: 'query',
                                    titles: 'File:' + pictureName,
                                    prop: 'imageinfo',
                                    iiprop: 'url',
                                    format: 'json'
                                }

                            }).done(function (response) {
                                var instance = response.query.pages;
                                vm[dataName].push(instance[Object.keys(instance)[0]].imageinfo[0].url);
                            });
                        });
                    },
                    loadData: function () {
                        // Search wikidata with the species name, retrieve and simplify the first result and store it in
                        // this.entity
                        var vm = this;
                        $.getJSON(wdk.searchEntities(this.speciesName, this.userLanguage, 1, 'json')).done(function (jsonSearch) {
                            if (jsonSearch.search.length === 1) {
                                // Ok, we ran the query and had a single result
                                var wikidataId = jsonSearch.search[0].id;
                                // Let's ask details about this result:
                                $.getJSON(wdk.getEntities(wikidataId, this.userLanguage)).done(function (jsonDetails) {
                                    var entity = jsonDetails.entities[wikidataId];
                                    vm.fullEntity = entity;
                                    vm.simplifiedEntity = wdk.simplify.entity(entity);

                                    vm.pictureNameToUrl(wdk.simplify.propertyClaims(vm.fullEntity.claims.P18), 'pictureUrls');
                                    vm.loadWikipediaAbstract();
                                    vm.loadIucnStatus();
                                });

                            }
                        });
                    }
                },
                mounted: function () {
                    this.loadData();
                }
            });
        });
    </script>
{% endblock %}