{% extends "lepidoptera/base.html" %}

{% load i18n %}

{% block content %}
<div class="row">
        <div class="col">
            <h2>{% block h2_title %}{% endblock %}</h2>
            {% block additional_details %}{% endblock %}

            {% if lepidoptera_species %}
            <h3>{% trans "Observed lepidoptera species" %} </h3>
            <ul>
                {% for sp in lepidoptera_species %}
                    <li><a href="{{ sp.get_absolute_url }}">{{ sp.html_str }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
</div>
{%  endblock %}