{% extends "lepidoptera/hostplant_taxon.html" %}
{% load i18n %}

{% block h1_title %}
    {{ family.html_str }}
    {% include "lepidoptera/_taxon_type_badge.html" with taxon_type_name="Host plant family" %}
{% endblock %}

{% block additional_details %}
    {% trans "Genera in this family" %}:
    {% for genus in family.hostplantgenus_set.all %}
        <a href="{{ genus.get_absolute_url }}">{{ genus.html_str }}</a>
        {% if not forloop.last %}, {% endif %}
    {% endfor %}.
    </p>
{% endblock %}