{% extends "lepidoptera/hostplant_substrate.html" %}
{% load i18n %}

{% block title %}{{ subject }} - Host plants{% endblock %}

{% block meta_description %}Information about {{ subject }} (host plant genus){% endblock %}

{% block h2_title %}
    {{ subject.html_str }}
    {% include "lepidoptera/_entity_type_badge.html" with taxon_type_name="Host plant genus" %}
{% endblock %}

{% block additional_details %}
    <p>{% trans "From family" %}: <a href="{{ subject.family.get_absolute_url }}">{{ subject.family }}</a></p>
    <p>
    {% trans "Host plant species for this genus" %}:
    {% for sp in subject.hostplantspecies_set.all %}
        <a href="{{ sp.get_absolute_url }}">{{ sp.html_str }}</a>
        {% if not forloop.last %}, {% endif %}
    {% endfor %}
    </p>
{% endblock %}
