{% extends "lepidoptera/base.html" %}

{% block title %}Gallery{% endblock %}

{% block meta_description %}List of references from the literature{% endblock %}

{% block content %}
    <h2>Complete references list</h2>

    {% for publication in publications %}
        <h6 class="font-weight-bold">{{ publication.author }} {{ publication.year }}</h6>
        <p class="publication-details text-muted">{{ publication.title }} — {{ publication.journal.title }} {{ publication.volume }}
            {% if publication.issue %}({{ publication.issue }}){% endif %}: {{ publication.page_numbers }}.
        </p>
    {% endfor %}

{% endblock %}