{% load i18n %}
{% load various_helpers %}

<div class="row">
    {% if taxon.text %}
        <div class="col-8">
            <div class="alert alert-success">{{ taxon.text|markdown }}</div>
        </div>
    {% endif %}

    {% if taxon.representative_picture %} {# Currently: only for families #}
        <div class="col-4">
            <img class="img-fluid img-thumbnail" src="{{ taxon.representative_picture_thumbnail.url }}" />
        </div>
    {% endif %}

    {% if taxon.text or taxon.representative_picture %}
        <div class="col"><hr/></div>
    {%  endif %}
</div>

<div class="row">
    <div class="col">
        <h2>{% trans "Details" %}</h2>
    </div>
</div>

<dl class="row">
    <dt class="col-sm-2">{% trans "Classification" %}</dt>
    <dd class="col-sm-10">{% include "lepidoptera/taxonomy/_classification.html" with taxon=taxon only %}</dd>

    <dt class="col-sm-2">{% trans "Vernacular names" %}</dt>
    <dd class="col-sm-10">
        {% field_in_all_available_languages settings.LANGUAGES taxon 'vernacular_name' %}
    </dd>

    <dt class="col-sm-2">{% trans "Status" %}</dt>
    <dd class="col-sm-10">
        {{ taxon.status }}
    </dd>

    {% if taxon.synonym_of %}
        <dt class="col-sm-2">{% trans "Synonym of " %}</dt>
        <dd class="col-sm-10">
            <a href="{{ taxon.synonym_of.get_absolute_url }}">{{ taxon.synonym_of.html_str }}</a>
        </dd>
    {% endif %}

    {% if taxon.synonyms.all %}
        <dt class="col-sm-2">{% trans "Synonyms" %}
        <dd class="col-sm-10">
            {% for synonym in taxon.synonyms.all %}
                <a href="{{ synonym.get_absolute_url }}">{{ synonym.html_str }}</a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </dd>
    {% endif %}

    {% if taxon|to_class_name != 'Species' %}
        <dt class="col-sm-2">{% trans "Species in Belgium" %}</dt>
        <dd class="col-sm-10">
            {{ taxon.all_species.count }}
        </dd>
    {% endif %}
</dl>
<hr />