{% load i18n %}

{% for taxon in taxon_list %}
    {% if forloop.first %}
        <table class="table table-bordered table-hover table-striped table-sm">
            <thead class="thead-dark"><tr><th scope="col">{% trans 'Name' %}</th></tr></thead>
            <tbody>
    {% endif %}

                <tr>
                    <td><a href="{{ taxon.get_absolute_url }}">{{ taxon.name }}</a></td>
                </tr>

    {%  if forloop.last %}
            </tbody>
        </table>
    {% endif %}

{% empty %}
    {% trans "No records found." %}
{% endfor %}