<div class="row">
    <div class="col">
        <h1 class="display-4">
            {% if species_mode %}<i>{% endif %}
            <b>
                {{ taxon.html_str }}
            </b>

            {% if taxon.author %}<span class="font-weight-light text-muted">{{ taxon.author }}</span>{% endif %}

            <span class="small badge badge-secondary float-right">{{ taxon_rank }}</span>
        </h1>

        {% if request.user.is_superuser %}
            <a class="btn btn-danger" href="{{ taxon.admin_change_url }}"><span class="oi oi-lock-locked" title="admin interface"></span> Edit in admin</a>
        {% endif %}

        <hr/>
    </div>
</div>
