{% extends "lepidoptera/taxonomy/base.html" %}
{% load i18n %}

{% block top-links%}
    {% include 'lepidoptera/taxonomy/_next_previous.html' with entity=family only %}
{% endblock top-links %}

{% block details %}
    {% include "lepidoptera/taxonomy/_title_and_higher_levels.html" with title=family.name subtitle="Family" taxonomy=family.all_parents_and_me only %}
{% endblock %}

{% block lower-levels %}
    <h3>{% trans "Subfamilies" %}</h3>
    {% include 'lepidoptera/taxonomy/_subfamily_list_table.html' with subfamilies=family.subfamily_set.all only %}

    <h3>Species</h3>
    <ul>
    {% for s in family.all_species %}
        <li><i><a href="{{ s.get_absolute_url }}">{{ s.binomial_name }}</a></i></li>
    {% endfor %}
    </ul>

{% endblock lower-levels %}
