{% extends "lepidoptera/taxonomy/base.html" %}
{% load i18n %}

{% block details %}
    {% include "lepidoptera/taxonomy/_title.html" with taxon=genus taxon_rank="Genus" %}
    {% include "lepidoptera/taxonomy/_common_attributes.html" with taxon=genus %}

    <h2>{% trans "Direct lower taxa" %}</h2>
    {% include 'lepidoptera/taxonomy/_taxon_list_table.html' with title="Subgenera" taxon_list=genus.subgenus_set.all only %}
    {% include 'lepidoptera/taxonomy/_taxon_list_table.html' with title="Species" taxon_list=genus.species_set.all only %}
{% endblock %}