{% extends "lepidoptera/taxonomy/base.html" %}
{% load i18n %}

{% block details %}
    {% include "lepidoptera/taxonomy/_title_and_higher_levels.html" with title=genus.name subtitle="Genus" taxonomy=genus.all_parents_and_me only %}
{% endblock %}


{% block lower-levels %}
    <h3>{% trans "Subgenera" %}</h3>
    {% include 'lepidoptera/taxonomy/_taxon_list_table.html' with taxon_list=genus.subgenus_set.all only %}

    <h3>{% trans "(direct) species" %}</h3>
    {% include 'lepidoptera/taxonomy/_taxon_list_table.html' with taxon_list=genus.species_set.all only %}
{% endblock lower-levels %}