{% extends "lepidoptera/taxonomy/base.html" %}
{% load i18n %}

{% block details %}
    {% include "lepidoptera/taxonomy/_title.html" with taxon=subfamily taxon_rank="Subfamily" %}
    {% include "lepidoptera/taxonomy/_common_attributes.html" with taxon=subfamily %}

    <h2>{% trans "Direct lower taxa" %}</h2>
    {% include 'lepidoptera/taxonomy/_taxon_list_table.html' with title="Tribus" taxon_list=subfamily.tribus_set.all only %}
    {% include 'lepidoptera/taxonomy/_taxon_list_table.html' with title="Genera" taxon_list=subfamily.genus_set.all only %}
{% endblock %}
