# Take inspiration from development, BUT:
#    - New, random string
#    - Debug = False

from .base import *

MARKDOWNX_URLS_PATH = '/lepidoptera/markdownx/markdownify/'  # Need to set the prefix here since markdownx doesn't play well with URL prefixes
MARKDOWNX_UPLOAD_URLS_PATH = '/lepidoptera/markdownx/upload/'

{% block salt %}

{% endblock %}