{% load i18n %}
{% load various_helpers %}

<div class="row">
    {% if taxon.text %}
        <div class="col-8">
            <div class="alert alert-success">{{ taxon.text|markdown }}</div>
        </div>
    {% endif %}

    {% if taxon.representative_picture %} {# Currently: only for families #}
        <div class="col-4">
            <img class="img-fluid img-thumbnail" src="{{ taxon.representative_picture_thumbnail.url }}" />
        </div>
    {% endif %}
</div>

{% if taxon.text or taxon.representative_picture %}
    <div class="row"><div class="col"><hr/></div></div>
{%  endif %}

<div class="row">
    <div class="col">
        <h3>{% trans "Details" %}</h3>
    </div>
</div>

<dl class="row">
    <dt class="col-sm-2">{% trans "Classification" %}</dt>
    <dd class="col-sm-10">{% include "lepidoptera/taxonomy/_classification.html" with taxon=taxon only %}</dd>

    <dt class="col-sm-2">{% trans "Vernacular names" %}</dt>
    <dd class="col-sm-10">
        {% field_in_all_available_languages settings.LANGUAGES taxon 'vernacular_name' %}
    </dd>

    {% if taxon.synonym_of %}
        <dt class="col-sm-2">{% trans "Synonym of " %}</dt>
        <dd class="col-sm-10">
            <a href="{{ taxon.synonym_of.get_absolute_url }}">{{ taxon.synonym_of.html_str }}</a>  {{ taxon.synonym_of.author }}
        </dd>
    {% endif %}

    {% if taxon.synonyms.all %}
        <dt class="col-sm-2">{% trans "Synonyms" %}
        <dd class="col-sm-10">
            {% for synonym in taxon.synonyms.all %}
                <a href="{{ synonym.get_absolute_url }}">{{ synonym.html_str }}</a> {{ synonym.author }}
                {% include 'lepidoptera/_comma.html' %}
            {% endfor %}
        </dd>
    {% endif %}

    {% if taxon|to_class_name != 'Species' %}
        <dt class="col-sm-2">{% trans "Species in Belgium" %}</dt>
        <dd class="col-sm-10">
            {{ taxon.species_count }}
        </dd>
    {% endif %}

    {% if taxon|to_class_name == 'Species' %}
        {% if taxon.first_mention_publication %}
            <dt class="col-sm-2">{% trans "First mention in Belgium" %}</dt>
            <dd class="col-sm-10">
                {{ taxon.first_mention_publication.author }} {{ taxon.first_mention_publication.year }}.
                {{ taxon.first_mention_publication.title }} — {{ taxon.first_mention_publication.journal.title }}
                {{ taxon.first_mention_publication.volume }}{% if taxon.first_mention_publication.issue %}({{ taxon.first_mention_publication.issu }}){% endif %}:
                {{ taxon.first_mention_publication.page_numbers }}. On page {{ taxon.first_mention_page }}.

                {% if taxon.first_mention_link %}
                    <a target="_blank" href="{{ taxon.first_mention_link }}">view page</a>
                {% endif %}
            </dd>
        {% endif %}
        <dt class="col-sm-2">{% trans "Status" %}</dt>
        <dd class="col-sm-10">
            <p>
                {{ taxon.get_establishment_means_badge }}
                {% if taxon.establishment_date %}
                    In Belgium since {{ taxon.establishment_date|date:"F Y" }}.
                {% endif %}
            </p>
            <div>{{ taxon.establishment_remarks|markdown }}</div>
        </dd>
    {% endif %}
</dl>
<hr />