<script type="text/javascript">
    var provinceGrapesConf = {
        circleRadius: 15
    };

    Vue.component('half-province-icon', {
        delimiters: ['[[', ']]'],
        template: '#half-province-icon-template',
        props: {
            posX: Number,
            posY: Number,
            startAngle: Number,
            endAngle: Number,

            isActive: Boolean,
            provinceCode: String
        },
        data: function () {
            return {
                moveList: this.describeArc(this.posX, this.posY, provinceGrapesConf.circleRadius, this.startAngle,
                    this.endAngle),
                textPosY: this.getTextYPos()
            }
        },
        methods: {
            getTextYPos: function () {
                if (this.startAngle < this.endAngle) {
                    return this.posY + 5;
                } else {
                    return this.posY - 5;
                }
            },
            describeArc: function (x, y, radius, startAngle, endAngle) {
                var polarToCartesian = function (centerX, centerY, radius, angleInDegrees) {
                    var angleInRadians = (angleInDegrees - 90) * Math.PI / 180.0;

                    return {
                        x: centerX + (radius * Math.cos(angleInRadians)),
                        y: centerY + (radius * Math.sin(angleInRadians))
                    };
                };

                var start = polarToCartesian(x, y, radius, endAngle);
                var end = polarToCartesian(x, y, radius, startAngle);

                var largeArcFlag = endAngle - startAngle <= 180 ? "0" : "1";

                var d = [
                    "M", start.x, start.y,
                    "A", radius, radius, 0, largeArcFlag, 0, end.x, end.y
                ].join(" ");

                return d;
            }
        }
    });

    Vue.component('province-icon', {
        delimiters: ['[[', ']]'],
        template: '#province-icon-template',
        props: {
            posX: Number,
            posY: Number,
            isActive: Boolean,
            provinceCode: String
        },
        data: function () {
            return {
                'radius': provinceGrapesConf.circleRadius
            }
        }
    });

    Vue.component('distribution-grapefruit', {
        template: '#distribution-grapefruit-template',
        props: {
            speciesId: Number,
            serviceUrl: String,
            showBorders: Boolean,
        },
        data: function() {
            return {
                periods: []
            }
        },
        mounted: function () {
            this.$nextTick(function () {
                this.loadData();
            })
        },
        methods: {
            loadData: function () {
                var that = this;
                $.getJSON(this.serviceUrl, {speciesId: this.speciesId})
                    .done(function (json) {
                        that.periods = json;
                    })
                    .fail(function (jqxhr, textStatus, error) {
                        alert("error");
                    })
            }
        }
    });

    Vue.component('country-grape', {
        delimiters: ['[[', ']]'],
        template: '#country-grape-template',
        props: {
            period: Object, // has a name, and a list of provinces codes where the species is present
            showBorder: Boolean,
        },
        data: function () {
            var activateProvinces = function (presences, provinces) {
                var i, j;

                for (i = 0; i < presences.length; i++) {
                    for (j = 0; j < provinces.length; j++) {
                        if (provinces[j]['name'] === presences[i]) {
                            provinces[j].active = true;
                        }

                        if (provinces[j]['partOf'] === presences[i]) {
                            provinces[j].active = true;
                        }
                    }
                }
                return provinces;
            };

            var provinces = [
                /* Brabant is not displayed as a full province but as the aggregate of BRW and VBR*/
                {name: 'NA', posX: 160, posY: 80, active: false},
                {name: 'LX', posX: 188, posY: 96, active: false},
                {name: 'LG', posX: 188, posY: 64, active: false},
                {name: 'LI', posX: 188, posY: 32, active: false},
                {name: 'AN', posX: 160, posY: 16, active: false},
                {name: 'OV', posX: 132, posY: 32, active: false},
                {name: 'HA', posX: 132, posY: 64, active: false},
                {name: 'WV', posX: 104, posY: 48, active: false}
            ];

            var specialProvinces = [
                {name: 'BRW', posX: 160, posY: 48, startAngle: 90, endAngle: 270, active: false, partOf: 'BR'},
                {name: 'VBR', posX: 160, posY: 48, startAngle: 270, endAngle: 90, active: false, partOf: 'BR'}
            ];

            return {
                provinces: activateProvinces(this.period.present_in, provinces),
                specialProvinces: activateProvinces(this.period.present_in, specialProvinces)
            }
        }
    });
</script>
