<script type="text/x-template" id="distribution-viz-mode-selector-template">
    <div>
        <div class="btn-groups btn-group-toggle">
            <label class="btn btn-primary" :class="{ active: value === 'grape' }">
                <input type="radio" id="grapeview" value="grape" v-on:change="updateValue('grape')" :checked="value === 'grape'">
                <span class="oi oi-target"></span> Grape view
            </label>
            <label class="btn btn-primary" :class="{ active: value !== 'grape' }">
                <input type="radio" id="tableview" value="table" v-on:change="updateValue('table')" :checked="value !== 'grape'">
                <span class="oi oi-spreadsheet"></span> Table view
            </label>
        </div>
    </div>
</script>

<script type="text/x-template" id="distribution-table-template">
    <div>
        <table class="table table-bordered table-sm">
            <thead style="font-size: 70%;">
            <tr>
                <th v-for="province in allProvinces" class="text-center province-title font-weight-light"
                    :title="province.name">[[ province.code ]]
                </th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td v-for="province in allProvinces" style="overflow: auto; position: relative; height: 24px;">
                    <template v-for="period in periods">
                        <img class="province-icon" :src="period.period_icon_url"
                             v-if="period.present_in.indexOf(province.code) > -1">
                    </template>
                </td>
            </tr>
            </tbody>
        </table>

        <v-popover trigger="hover">
            <a href="#" class="small tooltip-target">table legend</a>

            <ul slot="popover" class="bg-light text-dark small text-center p-2">
                <li v-for="period in this.$parent.periods">
                    <img :src="period.period_icon_url"/> = [[ period.period_name ]]
                </li>
            </ul>
        </v-popover>
    </div>
</script>

<script type="text/x-template" id="distribution-viz-template">
    <div class="row">
        <template v-if="mode == 'grape'">
            <country-grape :show-border="showBorders" v-for="period in periods" :all-provinces="allProvinces"
                           :period="period"
                           :key="period.period_name"></country-grape>
        </template>

        <template v-else>
            <distribution-table :all-provinces="allProvinces" :periods="periods"></distribution-table>
        </template>
    </div>
</script>

<script type="text/x-template" id="country-grape-template">
    <div class="col m-0 p-0" :class="{ border: showBorder}">
        <h5>[[ period.period_name ]]</h5>
        <svg viewBox="0 0 155 112">
            <province-icon v-for="province in provinces"
                           v-if="!province.partOf && !province.skipInGrape"
                           :province-data="province"
                           :key="province.code"></province-icon>

            <half-province-icon v-for="province in provinces"
                                v-if="province.partOf"
                                :province-data="province"
                                :key="province.code"></half-province-icon>

            <line x1="75" y1="48" x2="105" y2="48" style="stroke:rgb(0,0,0);stroke-width:1"/>
        </svg>
    </div>
</script>

<script type="text/x-template" id="half-province-icon-template">
    <g>
        <path fill="none" :d="moveList" class="province" v-bind:class="{ activeProvince: provinceData.active }"/>

        <text :x="provinceData.posX" :y="textPosY" fill="black" text-anchor="middle" dominant-baseline="middle"
              font-size="9"
              v-bind:class="{ activeText: provinceData.active }">
            [[ provinceData.code ]]
        </text>
    </g>
</script>

<script type="text/x-template" id="province-icon-template">
    <g>
        <circle
                :cx="provinceData.posX"
                :cy="provinceData.posY"
                :r="radius"
                class="province"
                v-bind:class="{ activeProvince: provinceData.active }"/>

        <text :x="provinceData.posX" :y="provinceData.posY" fill="black" text-anchor="middle" dominant-baseline="middle"
              font-size="11"
              v-bind:class="{ activeText: provinceData.active }">
            [[ provinceData.code ]]
        </text>

    </g>
</script>