<script type="text/javascript">
    var provinceGrapesConf = {
        circleRadius: 15
    };

    Vue.component('distribution-table', {
        delimiters: ['[[', ']]'],
        template: '#distribution-table-template',
        props: {
            allProvinces: Array
        }
    });

    Vue.component('half-province-icon', {
        delimiters: ['[[', ']]'],
        template: '#half-province-icon-template',
        props: {
            provinceData: Object,
        },
        data: function () {
            return {
                moveList: this.describeArc(this.provinceData.posX, this.provinceData.posY, provinceGrapesConf.circleRadius, this.provinceData.startAngle,
                    this.provinceData.endAngle),
                textPosY: this.getTextYPos()
            }
        },
        methods: {
            getTextYPos: function () {
                if (this.provinceData.startAngle < this.provinceData.endAngle) {
                    return this.provinceData.posY + 7;
                } else {
                    return this.provinceData.posY - 6;
                }
            },
            describeArc: function (x, y, radius, startAngle, endAngle) {
                var polarToCartesian = function (centerX, centerY, radius, angleInDegrees) {
                    var angleInRadians = (angleInDegrees - 90) * Math.PI / 180.0;

                    return {
                        x: centerX + (radius * Math.cos(angleInRadians)),
                        y: centerY + (radius * Math.sin(angleInRadians))
                    };
                };

                var start = polarToCartesian(x, y, radius, endAngle);
                var end = polarToCartesian(x, y, radius, startAngle);

                var largeArcFlag = endAngle - startAngle <= 180 ? "0" : "1";

                var d = [
                    "M", start.x, start.y,
                    "A", radius, radius, 0, largeArcFlag, 0, end.x, end.y
                ].join(" ");

                return d;
            }
        }
    });

    Vue.component('province-icon', {
        delimiters: ['[[', ']]'],
        template: '#province-icon-template',
        props: {
            provinceData: Object,
        },
        data: function () {
            return {
                'radius': provinceGrapesConf.circleRadius
            }
        }
    });

    Vue.component('distribution-viz', {
        template: '#distribution-viz-template',
        props: {
            speciesId: Number,
            serviceUrl: String,
            showBorders: Boolean,
            mode: String
        },
        data: function() {
            return {
                periods: [],
                allProvinces: [
                    // TODO: this data should come from the backend

                    /* Brabant is not displayed as a full province but as the aggregate of BRW and VBR*/
                    {name: 'West-Vlaanderen', code: 'WV', posX: 34, posY: 16},
                    {name: 'Oost-Vlaanderen', code: 'OV', posX: 62, posY: 32},
                    {name: 'Antwerpen', code: 'AN', posX: 90, posY: 16},
                    {name: 'Limburg', code: 'LI', posX: 118, posY: 32},
                    {
                        name: 'Vlaams Brabant',
                        code: 'VB',
                        posX: 90,
                        posY: 48,
                        startAngle: 270,
                        endAngle: 90,
                        partOf: 'BR'
                    },
                    {
                        name: 'Brabant Wallon',
                        code: 'BW',
                        posX: 90,
                        posY: 48,
                        startAngle: 90,
                        endAngle: 270,
                        partOf: 'BR'
                    },
                    {name: 'Hainaut', code: 'HA', posX: 62, posY: 64},
                    {name: 'Namur', code: 'NA', posX: 90, posY: 80},
                    {name: 'Liège', code: 'LG', posX: 118, posY: 64},
                    {name: 'Luxembourg', code: 'LX', posX: 118, posY: 96},
                ],
            }
        },
        mounted: function () {
            this.$nextTick(function () {
                this.loadData();
            })
        },
        methods: {
            loadData: function () {
                var that = this;
                $.getJSON(this.serviceUrl, {speciesId: this.speciesId})
                    .done(function (json) {
                        that.periods = json;
                    })
                    .fail(function (jqxhr, textStatus, error) {
                        console.log("error grape load data");
                        console.log(jqxhr);
                        console.log(textStatus);
                        console.log(error);

                    })
            }
        }
    });

    Vue.component('country-grape', {
        delimiters: ['[[', ']]'],
        template: '#country-grape-template',
        props: {
            period: Object, // has a name, and a list of provinces codes where the species is present
            showBorder: Boolean,
            allProvinces: Array,
        },
        data: function () {
            var cloneObject = function(a) {
                return JSON.parse(JSON.stringify(a)); // Only works as long as the objects don't contains functions
            };

            var activateProvinces = function (presences, provinces) {
                var i, j;

                for (i = 0; i < presences.length; i++) {
                    for (j = 0; j < provinces.length; j++) {
                        if (provinces[j]['code'] === presences[i]) {
                            provinces[j].active = true;
                        }

                        if (provinces[j]['partOf'] === presences[i]) {
                            provinces[j].active = true;
                        }
                    }
                }
                return provinces;
            };

            return {
                provinces: activateProvinces(this.period.present_in, cloneObject(this.allProvinces)),
            }
        }
    });
</script>
