<script type="text/javascript">
    var SpeciesTableConf = {
        specieListServiceUrl: "{{ species_list_service_url }}"
    };

    Vue.component('species-grid', {
        template: '#grid-template',
        delimiters: ['[[', ']]'],

        props: {
            data: Array,
            columns: Array,
            filterKey: String
        },
        data: function () {
            var sortOrders = {}
            this.columns.forEach(function (key) {
                sortOrders[key] = 1
            })
            return {
                sortKey: '',
                sortOrders: sortOrders
            }
        },
        computed: {
            filteredData: function () {
                var sortKey = this.sortKey
                var filterKey = this.filterKey && this.filterKey.toLowerCase()
                var order = this.sortOrders[sortKey] || 1
                var data = this.data
                if (filterKey) {
                    data = data.filter(function (row) {
                        return Object.keys(row).some(function (key) {
                            return String(row[key]).toLowerCase().indexOf(filterKey) > -1
                        })
                    })
                }
                if (sortKey) {
                    data = data.slice().sort(function (a, b) {
                        a = a[sortKey]
                        b = b[sortKey]
                        return (a === b ? 0 : a > b ? 1 : -1) * order
                    })
                }
                return data
            }
        },
        filters: {
            capitalize: function (str) {
                return str.charAt(0).toUpperCase() + str.slice(1)
            }
        },
        methods: {
            sortBy: function (key) {
                this.sortKey = key
                this.sortOrders[key] = this.sortOrders[key] * -1
            }
        }
    })

    var speciesTable = new Vue({
        el: '#species-table-root',
        delimiters: ['[[', ']]'],
        data: {
            searchQuery: '',
            gridColumns: ['seq', 'name'],
            gridData: [
            ]
        },
        mounted: function () {
            this.$nextTick(function () {
                this.loadData();
            })
        },
        methods: {
            loadData: function () {
                var that = this;
                $.getJSON(SpeciesTableConf.specieListServiceUrl)
                    .done(function (json) {
                        that.gridData = json;
                    })
                    .fail(function (jqxhr, textStatus, error) {
                        console.log("error species list load data");
                        console.log(jqxhr);
                        console.log(textStatus);
                        console.log(error);
                    })
            }
        }
    })
</script>