<div style="margin-bottom: 20px;" class="row">
    <div class="col">
        {% if taxon.previous %}
            <a class="btn btn-outline-primary btn-sm" href="{{ taxon.previous.get_absolute_url }}"><span class="oi oi-caret-left"></span> {{ taxon.previous.name }}</a>
        {% endif %}

        {% if taxon.next %}
            <a class="float-right btn btn-outline-primary btn-sm" href="{{ taxon.next.get_absolute_url }}">{{ taxon.next.name }} <span class="oi oi-caret-right"></span></a>
        {% endif %}
    </div>
</div>