{% load i18n %}
{% load various_helpers %}

{% include 'lepidoptera/taxonomy/_country_grape_templates.html' %}

<div class="row m-2">
    <div class="col">
        Show distribution as a:
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="radio" name="distributionType" id="grape" autocomplete="off" checked><span class="oi oi-target"></span> Grape
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="distributionType" id="table" autocomplete="off"><span class="oi oi-spreadsheet"></span> Table
            </label>
        </div>
    </div>
</div>

<table class="table table-bordered table-hover table-striped table-sm sticky-header">
    <thead class="thead-dark">
    <tr>
        <th scope="col">{% trans 'Seq. #' %}</th>
        <th scope="col">{% trans 'Name' %}</th>
        <th scope="col">{% trans 'Vernacular names' %}</th>
        <th scope="col"><span class="oi oi-tag"></span></th>
        <th scope="col">{% trans 'Distribution' %}
            <span id="table-timeperiod-help-button" class="float-right" data-toggle="tooltip" data-html="true" title='{% include "lepidoptera/taxonomy/_species_presence_period_legend.html" with timeperiods=all_timeperiods %}'><span class="oi oi-question-mark"></span></span>
        </th>
    </tr>
    </thead>

    <tbody id="species-table-body">
    {% for s in species_list %}
        {% if s.is_valid %} {# We skip synonyms... #}
            <tr class="clickable-row" data-href="{{ s.get_absolute_url }}">
                <td class="small text-muted">
                    {{ s.display_order }}
                </td>

                <td class="small">
                    {% include 'lepidoptera/taxonomy/_taxon_name_link_synonyms_cell.html' with taxon=s %}
                </td>

                <td class="small">
                    {% field_in_all_available_languages_ul settings.LANGUAGES s 'vernacular_name' %}
                </td>

                <td>
                    {{ s.get_optional_establishment_means_badge }}
                    {% if s.has_pictures %}<span class="oi oi-camera-slr"></span>{% endif %}
                </td>

                <td class="px-3" style="width: 350px; overflow: auto;">
                    <div class="distribution-grape-container">
                        <distribution-grapefruit :show-borders="false" :species-id="{{ s.pk }}"
                                             service-url="{% url 'species_per_province_and_period' %}"></distribution-grapefruit>
                    </div>

                    <div class="distribution-table-container">
                        {% include "lepidoptera/taxonomy/_species_province_table.html" with species=s provinces=all_provinces timeperiods=all_timeperiods %}
                    </div>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>