{%  load i18n %}
{%  load various_helpers %}

<p class="text-center"><small>
    {% for period in timeperiods %}
        <img src="{{ period.icon.url }}" /> = {{ period.name }}
        {% if not forloop.last %}
            •
        {% endif %}
    {% endfor %}
</small></p>

<table class="table table-bordered table-hover table-striped table-sm sticky-header">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Seq. #</th>
            <th scope="col">{% trans 'Name' %}</th>
            <th scope="col">{% trans 'Vernacular names' %}</th>

            {% for province in provinces %}
                <th class="text-center province-title" scope="col" title="{{ province.name }}">{{ province.code }}</th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for s in species_list %}
            {% if s.is_valid %} {# We skip synonyms... #}
                <tr>
                    <td>
                        {{ s.display_order }}
                    </td>

                    <td class="small">
                        <a href="{{ s.get_absolute_url }}">{{ s.html_str }}</a>
                        <span class="font-weight-light"> {{ s.author }}</span>

                        {% for synonym in s.synonyms.all %}
                            <span class="font-weight-light">
                                <br/> = <a href="{{ synonym.get_absolute_url }}">{{ synonym.html_str }} {{ synonym.author }}</a>
                            </span>
                        {% endfor %}

                    </td>

                    <td class="small">
                        {% field_in_all_available_languages settings.LANGUAGES s 'vernacular_name' %}
                    </td>

                    {% for province in provinces %}
                        <td style="overflow: auto; position: relative;">
                            {# If we want to optimize this further, we should try to do a single call instead of one by province #}
                            {% species_presence_icons s.id province.id %}
                        </td>
                    {% endfor %}
                </tr>
            {%  endif %}
        {% endfor %}
    </tbody>
</table>