{% load various_helpers %}
{% load i18n %}

{% if species|has_content_for_section:section_name %}
    <div class="row">
        <div class="col">
            <h3>{% section_display_name section_name %}</h3>
            <div class="section-text">
                {{ species|get_text_for_section:section_name|markdown }}
            </div>


            <div class="section-pics text-center">
                {% section_pics species section_name as pictures %}

                {% for pic in pictures %}
                    <a href="{{ pic.image.url }}"
                       data-toggle="lightbox"
                       data-gallery="{{ section_name }}-gallery"
                       data-title="{{ pic.species.html_str }}"
                       data-footer="{{ pic.html_metadata }}">

                        <img src="{{ pic.image_thumbnail.url }}" class="img-fluid img-thumbnail"/>
                    </a>
                {% empty %}
                    {% trans "No pictures yet!" %}
                {% endfor %}
            </div>

            <hr />

        </div>
    </div>
{% endif %}