{% load i18n %}
{% load various_helpers %}

<table class="table table-bordered table-sm">
    <thead class="thead-dark small">
    <tr>
        {% for province in provinces %}
            <th class="text-center province-title" scope="col" title="{{ province.name }}">{{ province.code }}</th>
        {% endfor %}
    </tr>
    </thead>

    <tbody>
    <tr>
        {% for province in provinces %}
            <td style="overflow: auto; position: relative; height: 24px;">
                {# If we want to optimize this further, we should try to do a single call instead of one by province #}
                {% species_presence_icons species.id province.id %}
            </td>
        {% endfor %}
    </tr>
    </tbody>
</table>