{%  load i18n %}
{%  load various_helpers %}

<p class="text-center">
    {% for province in provinces %}
        <b>{{ province.code }}</b> = {{ province.name }}
        {% if not forloop.last %}
            •
        {% endif %}
    {%  endfor %}
</p>

<p class="text-center">
    {% for period in timeperiods %}
        <img src="{{ period.icon.url }}" /> = {{ period.name }}
        {% if not forloop.last %}
            •
        {% endif %}
    {% endfor %}
</p>

<table class="table table-bordered table-hover table-striped table-sm sticky-header">
    <thead class="thead-dark">
        <tr>
            <th scope="col">{% trans 'Name' %}</th>
            <th scope="col">{% trans 'Synonyms' %}</th>
            <th scope="col">{% trans 'Vernacular names' %}</th>

            {% for province in provinces %}
                <th class="text-center province-title" scope="col" title="{{ province.name }}">{{ province.code }}</th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for s in species_list %}
            <tr>
                <td class="small"><a href="{{ s.get_absolute_url }}">{{ s.html_str }}</a><span class="font-weight-light"> {{ s.author }}</span></td>
                <td class="small">
                    {% for synonym in s.synonyms.all %}
                            <a href="{{ synonym.get_absolute_url }}">{{ synonym.html_str }}</a> <br/>
                    {% endfor %}
                </td>
                <td class="small">
                    {% field_in_all_available_languages settings.LANGUAGES s 'vernacular_name' %}
                </td>

                {% for province in provinces %}
                <td style="overflow: auto; position: relative;">
                    {# If we want to optimize this further, we should try to do a single call instead of one by province #}
                    {% species_presence_icons s.id province.id %}
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>