{% load various_helpers %}
{% load i18n %}

<div class="row">
    <div class="col">
        {% if request.user.is_staff %}
            <a class="btn-sm btn btn-danger" href="{{ taxon.admin_change_url }}"><span class="oi oi-lock-locked" title="admin interface"></span> Edit {{ taxon|to_class_name }} in admin</a>
        {% endif %}

        <h2>
            {% if species_mode %}<i>{% endif %}
            <b>
                {{ taxon.html_str }}
            </b>

            {% if taxon.author %}<span class="font-weight-light text-muted">{{ taxon.author }}</span>{% endif %}

            {% with taxon_type_name=taxon|to_class_name %}
                {% include "lepidoptera/_entity_type_badge.html" %}
            {% endwith %}
        </h2>

        <p class="small text-muted">{% trans "Last modified:" %} {{ taxon.last_modified }}</p>

        <hr/>
    </div>
</div>
