{% extends "lepidoptera/taxonomy/base.html" %}
{% load i18n %}

{% block details %}
    <h3>{% trans "Direct lower taxa" %}</h3>
    {% include 'lepidoptera/taxonomy/_taxon_list_table.html' with title="subfamily-group names" taxon_list=taxon.subfamily_set.all %}
    {% include 'lepidoptera/taxonomy/_taxon_list_table.html' with title="genus-group names" taxon_list=taxon.genus_set.all %}

    <hr/>

    <h3>{% trans "Species in Belgium" %}</h3>
    {% include "lepidoptera/taxonomy/_species_table.html" with species_list=species %}
{% endblock %}

{% block bottom-of-body %}
    {% include 'lepidoptera/taxonomy/_distribution_viz_js_components.html' %}

    <script type="text/javascript">
        $(function () {
            var vm = new Vue({
                el: '#species-table-body',
            });

            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });

            var setDistributionView = function (distributionType) {
                switch (distributionType) {
                    case 'grape':
                        $('.distribution-grape-container').show();
                        $('.distribution-table-container').hide();
                        $('#table-timeperiod-help-button').hide();
                        break;
                    case 'table':
                        $('.distribution-grape-container').hide();
                        $('.distribution-table-container').show();
                        $('#table-timeperiod-help-button').show();
                        break;
                }
            };

            var $typeRadioButtons =  $('input[type=radio][name=distributionType]');

            $typeRadioButtons.on('change', function () {
                setDistributionView($(this).attr('id'));
            });

            $typeRadioButtons.each(function () {
                if ($(this).is(":checked")) {
                    setDistributionView($(this).attr('id'));
                }
            });


        });
    </script>
{% endblock %}