{% extends "lepidoptera/taxonomy/base.html" %}
{% load i18n %}

{% block details %}

    <div class="row">
        <div class="col">
            <h2>{% trans "Distribution" %}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>{% trans "Observed on" %}</h2>
        </div>
    </div>

    <dl class="row">
        {% if plant_species_observations %}
            <dt class="col-sm-3">{% trans "Host plant (species)" %}: </dt>
            <dd class="col-sm-9">
                {% for observation in plant_species_observations %}
                    <a href="{{ observation.plant_species.get_absolute_url }}">{{ observation.plant_species.html_str }}</a>{% include 'lepidoptera/_comma.html' %}
                {% endfor %}
            </dd>
        {% endif %}

        {% if plant_genus_observations %}
            <dt class="col-sm-3">{% trans "Host plant (genera)" %}: </dt>
            <dd class="col-sm-9">
                {% for observation in plant_genus_observations %}
                    <a href="{{ observation.plant_genus.get_absolute_url }}">{{ observation.plant_genus }}</a>{% include 'lepidoptera/_comma.html' %}
                {% endfor %}
            </dd>
        {% endif %}

        {% if substrate_observations %}
            <dt class="col-sm-3">{% trans "Substrates" %}: </dt>
            <dd class="col-sm-9">
                {% for observation in substrate_observations %}
                    <a href="{{ observation.substrate.get_absolute_url }}">{{ observation.substrate }}</a>{% include 'lepidoptera/_comma.html' %}
                {% endfor %}
            </dd>
        {% endif %}
    </dl>

    {% include 'lepidoptera/taxonomy/_species_section.html' with species=taxon section_name='imago' %}
    {% include 'lepidoptera/taxonomy/_species_section.html' with species=taxon section_name='egg' %}
    {% include 'lepidoptera/taxonomy/_species_section.html' with species=taxon section_name='larva' %}
    {% include 'lepidoptera/taxonomy/_species_section.html' with species=taxon section_name='case' %}
    {% include 'lepidoptera/taxonomy/_species_section.html' with species=taxon section_name='bag' %}
    {% include 'lepidoptera/taxonomy/_species_section.html' with species=taxon section_name='mine' %}
    {% include 'lepidoptera/taxonomy/_species_section.html' with species=taxon section_name='cocoon' %}
    {% include 'lepidoptera/taxonomy/_species_section.html' with species=taxon section_name='bionomics' %}
    {% include 'lepidoptera/taxonomy/_species_section.html' with species=taxon section_name='habitat' %}

{% endblock %}