{% extends "lepidoptera/taxonomy/base.html" %}
{% load i18n %}

{% block details %}
    <h3>{% trans "Direct lower taxa" %}</h3>
    {% include 'lepidoptera/taxonomy/_taxon_list_table.html' with title="genus-group names" taxon_list=taxon.genus_set.all %}

    <h3>{% trans "Species in Belgium" %}</h3>
    {% include "lepidoptera/taxonomy/_new_species_table.html" with species_list=taxon.all_species %}
{% endblock %}

{% block bottom-of-body %}
    {% include 'lepidoptera/taxonomy/_country_grape_js_components.html' %}

    <script type="text/javascript">
        $(function () {
            var vm = new Vue({
                el: '#species-table-body',
            });

            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}