#main-navigation {
    margin-bottom: 20px;
    box-shadow: 0px 1px 5px darkgrey;
}

div#footer-main {
    margin-top: 20px;
}

div#footer-copyright {
    background-color: #416a96;
}

th.province-title {
    width: 46px;
}

img.province-icon {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#mapid {
    width: 320px;
    height: 240px;
}

/* For Vue.js transitions */
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
    opacity: 0;
}

/* Province grapes */
.province {
    stroke-width: 1.5;
    fill: lightgrey;
    stroke: red;
}

.activeProvince {
    stroke: green !important;
    stroke-width: 2.5 !important;
}

.activeText {
    font-weight: bold;
}

#species-table-body h5 {
    font-size: 0.75rem !important;
}

[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}
[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}

.indent-except-first {
    padding-left: 10px;
    text-indent: -10px;
}

/* IE11 fix for Lightbox */
.ekko-lightbox .modal-dialog {
  flex: 100%!important;
  margin-left: 0;
  margin-right: 0;
}

th.active {
  text-decoration: underline;
}

th.active .arrow {
  opacity: 1;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}