#main-navigation {
    margin-bottom: 20px;
}

div#footer-main {
    margin-top: 20px;
}

div#footer-copyright {
    background-color: #416a96;
}

th.province-title {
    width: 46px;
}

img.province-icon {
    position: absolute;
    left: 15px;
}