{% load i18n %}

<div id="footer-main" class="row text-white bg-primary py-2">
    <div class="col">COL1</div>
    <div class="col">COL2</div>
    <div class="col">COL3</div>
    <div class="col">
        <h4>{% trans "Statistics" %}</h4>
        <hr/>
        <ul class="list-unstyled">
            <li>
                <span class="badge badge-pill badge-dark">{{ family_counter }}</span>
                <a class="text-dark" href="{% url 'families_page' %}">{% trans "Families" %}</a>
            </li>

            <li><span class="badge badge-pill badge-warning">{{ subfamily_counter }}</span> {% trans "Subfamilies" %}</li>
            <li><span class="badge badge-pill badge-dark">{{ tribus_counter }}</span> {% trans "Tribus" %}</li>
            <li>
                <span class="badge badge-pill badge-warning">{{ valid_genus_counter }}</span> {% trans "Accepted genera" %}
                ({% trans "and" %} <span class="badge badge-pill badge-warning">{{ genus_synonym_counter }}</span> {% trans "synonyms" %})
            </li>
            <li><li><span class="badge badge-pill badge-dark">{{ subgenus_counter }}</span> {% trans "Subgenera" %}</li></li>
            <li>
                <span class="badge badge-pill badge-warning">{{ valid_species_counter }}</span> {% trans "Accepted species" %}
                ({% trans "and" %} <span class="badge badge-pill badge-warning">{{ species_synonym_counter }}</span> {% trans "synonyms" %})
            </li>
        </ul>
    </div>
</div>
<div id="footer-copyright" class="row">
    <div class="col text-center text-white py-2">
        <span class="small align-middle">© 2018 <a href="http://www.phegea.org/">Flemish Entomological Society</a></span>
    </div>
</div>