{% load i18n %}

<div id="footer-main" class="row text-white">
    <div class="col">COL1</div>
    <div class="col">COL2</div>
    <div class="col">COL3</div>
    <div class="col">
        <h4 class="text-uppercase">{% trans "Statistics" %}</h4>
        <ul class="list-unstyled">
            <li><span class="badge badge-pill badge-dark">{{ family_counter }}</span> {% trans "Families" %}</li>
            <li><span class="badge badge-pill badge-warning">{{ subfamily_counter }}</span> {% trans "Subfamilies" %}</li>
            <li><span class="badge badge-pill badge-dark">{{ tribus_counter }}</span> {% trans "Tribus" %}</li>
            <li>
                <span class="badge badge-pill badge-warning">{{ valid_genus_counter }}</span> {% trans "Accepted genera" %}
                ({% trans "and" %} <span class="badge badge-pill badge-warning">{{ genus_synonym_counter }}</span> {% trans "synonyms" %})
            </li>
            <li>
                 <li><span class="badge badge-pill badge-dark">{{ subgenus_counter }}</span> {% trans "Subgenera" %}</li>
            </li>
        </ul>
    </div>
</div>
<div id="footer-copyright" class="row">
    <div class="col">
        <p class="text-center text-white">
            <span class="align-middle">© 2018 Copyright Flemish Entomological Society</span>
        </p>
    </div>
</div>