{% extends "lepidoptera/base.html" %}

{% load page_fragments %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col">
            {% get_page_fragment 'welcome' %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h1>{% trans "Overview of all valid families" %}</h1>
        </div>
    </div>

    {% for family in families %}
        {% if forloop.counter0|divisibleby:4 %}
        <div class="row">
        {% endif %}

            <div class="col-sm-3">
                {% include 'lepidoptera/_family_card.html' %}
            </div>

        {% if forloop.counter|divisibleby:4 %}
            </div>
        {% endif %}
    {% endfor %}

{% endblock content %}